{% extends 'base.html.twig' %}

{% block title %}
    Lista de Tareas
{% endblock %}

{% block body %}
<div class="container">
    <div class="starter-template">
        <h1>Lista de Tareas</h1>
    </div>
</div>
{% endblock %}