{% extends 'base.html.twig' %}

{% block body %}
    <div class="container ">

        <div class="starter-template">
            <h1>Usuarios</h1>
            <div class="panel panel-default">
                <div class="panel-body">
            <table class="table table-condensed table-striped table-responsive">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>UserName</th>
                </tr>
                </thead>
                <tbody>
                {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.id }}</td>
                        <td>{{ usuario.nombre }}</td>
                        <td>{{ usuario.username }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}